.container {
  margin-bottom: 14rem;
}

.main {
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main {
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .main {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .main {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .main {
    margin-top: 7rem /* 112px */;
  }
}
